<<<<<<< HEAD
*{
margin:0;
padding:0;
box-sizing:border-box;
}
h1{
	background-color: dodgerblue;
	text-align: center;
=======
*{
margin:0;
padding:0;
box-sizing:border-box;
>>>>>>> 866921036ddaf811ee41091ba68193dbf6b48e11
}